@import "tailwindcss";
@import "./components/input.css";
@import "./components/table.css";
@import "./components/tag.css";

@plugin "flowbite/plugin";

@source "../node_modules/flowbite";
@source "../node_modules/apexcharts";
@source "./components";

/*:root {*/
/*    --radius: 0.625rem;*/
/*    --background: oklch(1 0 0);*/
/*    --foreground: oklch(0.145 0 0);*/
/*    --card: oklch(1 0 0);*/
/*    --card-foreground: oklch(0.145 0 0);*/
/*    --popover: oklch(1 0 0);*/
/*    --popover-foreground: oklch(0.145 0 0);*/
/*    --primary: oklch(0.205 0 0);*/
/*    --primary-foreground: oklch(0.985 0 0);*/
/*    --secondary: oklch(0.97 0 0);*/
/*    --secondary-foreground: oklch(0.205 0 0);*/
/*    --muted: oklch(0.97 0 0);*/
/*    --muted-foreground: oklch(0.556 0 0);*/
/*    --accent: oklch(0.97 0 0);*/
/*    --accent-foreground: oklch(0.205 0 0);*/
/*    --destructive: oklch(0.577 0.245 27.325);*/
/*    --border: oklch(0.922 0 0);*/
/*    --input: oklch(0.922 0 0);*/
/*    --ring: oklch(0.708 0 0);*/
/*    --chart-1: oklch(0.646 0.222 41.116);*/
/*    --chart-2: oklch(0.6 0.118 184.704);*/
/*    --chart-3: oklch(0.398 0.07 227.392);*/
/*    --chart-4: oklch(0.828 0.189 84.429);*/
/*    --chart-5: oklch(0.769 0.188 70.08);*/
/*    --sidebar: oklch(0.985 0 0);*/
/*    --sidebar-foreground: oklch(0.145 0 0);*/
/*    --sidebar-primary: oklch(0.205 0 0);*/
/*    --sidebar-primary-foreground: oklch(0.985 0 0);*/
/*    --sidebar-accent: oklch(0.97 0 0);*/
/*    --sidebar-accent-foreground: oklch(0.205 0 0);*/
/*    --sidebar-border: oklch(0.922 0 0);*/
/*    --sidebar-ring: oklch(0.708 0 0);*/
/*}*/
@theme {
    --color-success: var(--color-green-400);
    --color-warning: var(--color-yellow-800);
    --color-error: var(--color-red-800);

    --color-primary: var(--color-blue-500); /* button, focused border, ring */

    --color-surface-container-low: var(--color-gray-50); /* input background */
    --color-outline: var(--color-gray-300); /* unfocused border */
    --color-on-surface: var(--color-gray-900); /* input text */
    --color-on-surface-variant: var(--color-gray-400); /* placeholder, floating label */
}

/* Theme: using browser system dark mode detection */
@media (prefers-color-scheme: dark) {
    :root, :host {
        --color-success: var(--color-green-400);
        --color-warning: var(--color-yellow-400);
        --color-error: var(--color-red-400);

        --color-primary: var(--color-blue-500);

        --color-surface-container-low: var(--color-gray-700);
        --color-outline: var(--color-gray-600);
        --color-on-surface: var(--color-white);
        --color-on-surface-variant: var(--color-gray-400);
    }
}

/* Theme: using class variant on root element
@custom-variant dark (&:where(.dark, .dark *));

@layer theme {
    :root, :host {
        @variant dark {
            ...
        }
    }
}
 */

/* HTMLX */
tr.htmx-swapping td {
    @apply duration-500 ease-out opacity-0
}

.csk-star-animate:hover {
    cursor: pointer;
    animation: pulsar 1s ease-out infinite;
}

@keyframes pulsar {
    50% {
        transform: scale(1.2);
        opacity: 0.5;
    }
}