@import "tailwindcss";
@import "./components/input.css";
@import "./components/table.css";
@import "./components/tag.css";

@plugin "flowbite/plugin";

@source "../node_modules/flowbite";
@source "../node_modules/apexcharts";
@source "./components";

@theme {
    --color-success: var(--color-green-400);
    --color-warning: var(--color-yellow-800);
    --color-error: var(--color-red-800);

}

/* Theme: using browser system dark mode detection */
@media (prefers-color-scheme: dark) {
    :root {
        --color-success: var(--color-green-400);
        --color-warning: var(--color-yellow-400);
        --color-error: var(--color-red-400);
    }
}

/* Theme: using class variant on root element
@custom-variant dark (&:where(.dark, .dark *));
*/
@layer theme {
    :root {
        @variant dark {
            --color-success: var(--color-green-400);
            --color-warning: var(--color-yellow-400);
            --color-error: var(--color-red-400);
        }
    }
}


/* HTMLX */
tr.htmx-swapping td {
    @apply duration-500 ease-out opacity-0
}

.csk-star-animate:hover {
    cursor: pointer;
    animation: pulsar 1s ease-out infinite;
}

@keyframes pulsar {
    50% {
        transform: scale(1.2);
        opacity: 0.5;
    }
}