@import "tailwindcss";
@import "./components/input.css";
@import "./components/table.css";
@import "./components/tag.css";

@plugin "flowbite/plugin";

@source "../node_modules/flowbite";
@source "../node_modules/apexcharts";
@source "./components";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --color-error: var(--color-red-400);
}

@media (prefers-color-scheme: dark) {
    --color-error: var(--color-green-400);
}


/* HTMLX */
tr.htmx-swapping td {
    @apply duration-500 ease-out opacity-0
}

.csk-star-animate:hover {
    cursor: pointer;
    animation: pulsar 1s ease-out infinite;
}

@keyframes pulsar {
    50% {
        transform: scale(1.2);
        opacity: 0.5;
    }
}