<head th:fragment="head">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Ciusky</title>

    <link th:href="@{/main.css}" rel="stylesheet"/>
    <link th:href="@{/custom.css}" rel="stylesheet"/>

    <!-- <script th:src="@{/flowbite.min.js}"></script>-->
    <script th:src="@{/htmx.min.js}"></script>
    <script th:src="@{/main.js}"></script>

    <script>
        htmx.onLoad(function () {
            // initFlowbite();
        })
    </script>
</head>