<!--/*@thymesVar id="image" type="dev.rogueai.collection.service.model.CiuskyImage"*/-->
<div id="image-gallery" th:fragment="gallery" th:object="${ciusky}">
    <div class="grid grid-cols-2 md:grid-cols-4 gap-4">
        <div th:each="image : ${ciusky.images}" class="relative group rounded-lg border-gray-600" onclick="toggleWideImage(this)">
            <img class="h-auto max-w-full mx-auto rounded-lg border-gray-600" alt=""
                 th:src="@{/ciusky/image/{uuid}(uuid=${image.getUuid()},thumbnail=true)}"
                 th:data-src="@{/ciusky/image/{uuid}(uuid=${image.getUuid()},thumbnail=false)}"
            />
            <span class="absolute top-1 right-0 hidden group-hover:inline-flex items-center justify-center w-6 h-6 me-2 text-sm font-semibold text-gray-800 bg-gray-100 rounded-full dark:bg-gray-800 dark:text-gray-300">
                <svg class="w-2.5 h-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                </svg>
                <span class="sr-only">Icon description</span>
            </span>
        </div>
        <div id="upload-progress" class="hidden items-center justify-center rounded-lg">
            <img class="h-auto max-w-full mx-auto rounded-lg border-gray-600" alt=""
                 th:src="@{'/images/image-4@2x.jpg'}"
            />
            <div class="px-3 mt-1 py-1 text-xs font-medium leading-none text-center text-blue-800 bg-blue-200 rounded-full animate-pulse dark:bg-blue-900 dark:text-blue-200">loading...</div>
        </div>
    </div>
</div>
