<!--/*@thymesVar id="ciusky" type="dev.rogueai.ciusky.service.model.Ciusky"*/-->
<div id="link-input" th:fragment="link-input" th:object="${ciusky}" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="mb-5">
        <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Links</label>
        <div class="flex">
            <span class="inline-flex items-center p-2 text-sm text-gray-900 bg-gray-200 border border-e-0 border-gray-300 rounded-s-md dark:bg-gray-600 dark:text-gray-400 dark:border-gray-600">
                <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                     width="24" height="24" fill="none" viewBox="0 0 24 24">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M13.213 9.787a3.391 3.391 0 0 0-4.795 0l-3.425 3.426a3.39 3.39 0 0 0 4.795 4.794l.321-.304m-.321-4.49a3.39 3.39 0 0 0 4.795 0l3.424-3.426a3.39 3.39 0 0 0-4.794-4.795l-1.028.961"/>
                </svg>
            </span>
            <input id="link" type="text" th:hx-post="@{/ciusky/link/add}" th:field="*{rawLink}"
                   class="csk-input-addon"/>
        </div>
        <div th:replace="~{components/field-error :: text('rawLink')}"></div>
    </div>
    <div class="mb-5">
        <div id="link-list" th:replace="~{this :: link-list('links')}"></div>
    </div>
</div>

<!--/*@thymesVar id="link" type="dev.rogueai.ciusky.service.model.Link"*/-->
<div th:fragment="link-list(field)" class="flex flex-wrap gap-2 overflow-x-auto whitespace-nowrap py-1"
     xmlns:th="http://www.w3.org/1999/xhtml">
    <ul class="w-full text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg dark:bg-gray-700 dark:border-gray-600 dark:text-white">
        <li class="w-full px-4 py-2 border-b border-gray-200 rounded-t-lg dark:border-gray-600">Profile</li>
        <li class="w-full px-4 py-2 border-b border-gray-200 dark:border-gray-600">Settings</li>
        <li class="w-full px-4 py-2 border-b border-gray-200 dark:border-gray-600">Messages</li>
        <li class="w-full px-4 py-2 rounded-b-lg">Download</li>
    </ul>
</div>

