<div th:fragment="rating-input(field)" class="flex items-center" xmlns:th="http://www.thymeleaf.org">
    <!-- handle 0-values with a hidden star -->
    <label for="star-0" th:insert="~{components/icon :: icon('star', 'w-6 h-6 ms-1 csk-star-animate')}" class="text-yellow-300 peer-checked:text-gray-300 dark:peer-checked:text-gray-500 hidden"></label>
    <input type="radio" id="star-0" th:field="*{__${field}__}" name="rating" th:value="0" class="peer hidden" />
    <th:block th:each="i: ${#numbers.sequence(1, 5)}" th:with="value=${__${field}__}">
        <label th:for="|star-${i}|" th:insert="~{components/icon :: icon('star', 'w-6 h-6 ms-1 csk-star-animate')}" class="text-yellow-300 peer-checked:text-gray-300 dark:peer-checked:text-gray-500 "></label>
        <input type="radio" th:id="|star-${i}|" th:field="*{__${field}__}" name="rating" th:value="${i}" class="peer hidden" />
    </th:block>
</div>
