<div th:fragment="view(value)" class="flex items-center" xmlns:th="http://www.thymeleaf.org">
    <th:block th:each="i: ${#numbers.sequence(1, 5)}">
        <div th:replace="~{components/icon :: icon('star', ${i <= value ? 'w-5 h-5 ms-1 text-yellow-300' : 'w-5 h-5 ms-1 text-gray-300 dark:text-gray-500'})}"></div>
    </th:block>
</div>

<div th:fragment="edit(field)" class="d-rating" xmlns:th="http://www.thymeleaf.org">
    <!-- handle 0-values with a hidden star -->
    <input type="radio" id="star-0" th:field="*{__${field}__}" name="rating" th:value="0" class="d-mask d-mask-star-2 bg-yellow-300 hidden" />
    <th:block th:each="i: ${#numbers.sequence(1, 5)}" th:with="value=${__${field}__}">
        <input type="radio" th:id="|star-${i}|" th:field="*{__${field}__}" name="rating" th:value="${i}" class="d-mask d-mask-star-2 bg-yellow-300" />
    </th:block>
</div>
