
@utility csk-input-base {
    @apply rounded-lg border block w-full text-sm p-2.5
    bg-surface-container-low border-outline text-on-surface
    focus:ring-primary focus:border-primary
    placeholder-on-surface-variant;
}

.csk-input-label {
    @apply block mb-2 text-sm font-medium
    text-gray-900
    dark:text-white;
}

.csk-input {
    @apply csk-input-base;
}

.csk-input-addon {
    @apply csk-input-base rounded-none rounded-e-lg min-w-0 flex-1;
}

.csk-select {
    @apply csk-input-base;
}

.csk-link {
    @apply cursor-pointer inline-flex items-center justify-center w-full font-medium rounded-lg text-sm px-4 py-2 focus:outline-none
    text-white
    bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300
    dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800
}

.csk-input-error {
    @apply text-sm
    border-error
}

.csk-gallery-fileName {
    @apply justify-center me-1 text-sm font-normal overflow-hidden text-ellipsis
    text-gray-800
    dark:text-gray-300;
}
