<table th:fragment="ciusky-table" id="ciusky-table" class="csk-table" xmlns:th="http://www.thymeleaf.org">
    <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">Title</th>
        <th scope="col">Description</th>
        <th scope="col">Type</th>
        <th scope="col">Quality</th>
        <th scope="col">Paid</th>
        <th scope="col">Value</th>
        <th scope="col">Tags</th>
        <th scope="col">Images</th>
        <th scope="col"></th>
    </tr>
    </thead>
    <!-- @see hx-confirm" -->
    <tbody hx-target="closest tr" hx-swap="outerHTML swap:500ms">
    <tr th:each="item : ${listCiusky}">
        <td th:text="${item.id}"></td>
        <td th:text="${item.title}" class="max-w-md" ></td>
        <td class="max-w-md">
            <p th:text="${item.description}" class="text-ellipsis overflow-hidden"></p>
        </td>
        <td th:text="${item.typeDescription}"></td>
        <td>
            <div th:replace="~{components/rating.html :: rating(value=${item.quality})}"></div>
        </td>
        <td th:text="${item.paidPrice}"></td>
        <td th:text="${item.marketPrice}"></td>
        <td>
            <div class="flex flex-wrap gap-2 py-1 max-w-md">
                <span th:class="'whitespace-nowrap csk-tag-'+ ${tagColor}"
                      th:each="tag : ${item.tags}"
                      th:text="|${tag.key}: ${tag.value}|"
                      th:with="tagColor=${@colors.getColor(tag.key)}"></span>
            </div>
        </td>
        <td>
            <div class="flex gap-2 whitespace-nowrap py-1">
                <img th:each="uuid, iter: ${item.uuidImages}" th:if="${iter.index} < 3"
                     th:src="@{/image/{uuid}?thumbnail=true(uuid=${uuid})}"
                     loading="lazy" class="w-10 h-10 rounded-sm" alt="Thumbnail"/>
                <div th:text="'+' + ${#lists.size(item.uuidImages) - 3}"
                     th:if="${#lists.size(item.uuidImages)} > 3"
                     class="w-10 h-10 rounded-sm bg-gray-200 flex items-center justify-center text-sm font-medium"></div>
            </div>
        </td>
        <td class="align-middle text-center whitespace-nowrap py-1">
            <a th:href="@{/ciusky/{id}(id=${item.id})}"
               class="inline-flex items-center gap-2 align-middle">
                <div th:replace="~{components/icon.html :: icon('edit', 'w-6 h-6 text-gray-100')}"></div>
            </a>
            <a href="#" th:hx-delete="@{/ciusky/{id}(id=${item.id})}"
               class="inline-flex items-center gap-2 align-middle">
                <div th:replace="~{components/icon.html :: icon('delete', 'w-6 h-6 text-red-500')}"></div>
            </a>
        </td>
    </tr>
    </tbody>
</table>

