<!DOCTYPE html>
<html th:replace="~{layout/site-layout :: layout(~{::#content})}" xmlns:th="http://www.thymeleaf.org" lang="en">
<body>
<div id="content">
    <div id="forms" class="max-w-4xl mx-auto flex flex-col md:flex-row gap-4">
        <div class="w-full md:w-3/5">
            <form id="main-form" th:object="${ciusky}"
                  th:hx-post="@{/ciusky/{action}(action=${@templateUtils.getSaveAction(ciusky.type)})}"
                  hx-target="#forms" hx-swap="outerHTML"
                  class="max-w-xl mx-auto">
                <div class="grid grid-cols-2 gap-2">
                    <input th:field="*{id}" type="hidden" id="id"/>
                    <div class="mb-5 col-span-2">
                        <label for="title" class="csk-input-label">Title</label>
                        <input th:field="*{title}" type="text" id="title" class="csk-input" placeholder="" required/>
                        <div th:replace="~{components/field-error('title')}"></div>
                    </div>
                    <div class="mb-5 col-span-2">
                        <label for="description" class="csk-input-label">Description</label>
                        <input th:field="*{description}" type="text" id="description" class="csk-input"/>
                        <div th:replace="~{components/field-error('description')}"></div>
                    </div>
                    <div class="mb-5">
                        <label for="types"
                               class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Type</label>
                        <input th:if="${ciusky.id != null}" th:field="*{type}" type="hidden"/>
                        <select th:field="*{type}" th:disabled="${ciusky.id != null}" id="types"
                                th:hx-put="@{/ciusky/changeType}" hx-target="#forms"
                                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                            <option th:value="-1" selected>Choose a type</option>
                            <option th:each="option : ${types}" th:value="${option.id}"
                                    th:text="${option.descr}"></option>
                        </select>
                        <div th:replace="~{components/field-error('type')}"></div>
                    </div>
                    <div class="mb-5">
                        <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Quality</label>
                        <div th:replace="~{components/rating-input.html :: rating-input('quality')}"></div>
                    </div>
                    <div class="mb-5">
                        <label for="paidPrice" class="csk-input-label">Paid price</label>
                        <div class="flex">
                            <span class="inline-flex items-center p-3 text-sm text-gray-900 bg-gray-200 border border-e-0 border-gray-300 rounded-s-md dark:bg-gray-600 dark:text-gray-400 dark:border-gray-600">
                                <svg th:replace="~{components/icon :: icon('euro', 'w-4 h-4 text-gray-500 dark:text-gray-400')}"></svg>
                            </span>
                            <input th:field="*{paidPrice}" type="text" id="paidPrice" class="csk-input-addon"
                                   placeholder="0.00">
                            <div th:replace="~{components/field-error('paidPrice')}"></div>
                        </div>
                    </div>
                    <div class="mb-5">
                        <label for="marketPrice" class="csk-input-label">Market price</label>
                        <div class="flex">
                            <span class="inline-flex items-center p-3 text-sm text-gray-900 bg-gray-200 border border-e-0 border-gray-300 rounded-s-md dark:bg-gray-600 dark:text-gray-400 dark:border-gray-600">
                                <svg th:replace="~{components/icon :: icon('euro', 'w-4 h-4 text-gray-500 dark:text-gray-400')}"></svg>
                            </span>
                            <input th:field="*{marketPrice}" type="text" id="marketPrice" class="csk-input-addon"
                                   placeholder="0.00">
                            <div th:replace="~{components/field-error('marketPrice')}"></div>
                        </div>
                    </div>
                    <div class="mb-5">
                        <label for="purchaseDate" class="csk-input-label">Purchase date</label>
                        <div class="flex">
                            <span class="inline-flex items-center p-3 text-sm text-gray-900 bg-gray-200 border border-e-0 border-gray-300 rounded-s-md dark:bg-gray-600 dark:text-gray-400 dark:border-gray-600">
                                <svg th:replace="~{components/icon :: icon('calendar-week', 'w-4 h-4 text-gray-500 dark:text-gray-400')}"></svg>
                            </span>
                            <input th:field="*{purchaseDate}" id="purchaseDate"
                                   type="date" placeholder="Select date"
                                   autocomplete="off" class="csk-input-addon"/>
                            <div th:replace="~{components/field-error('purchaseDate')}"></div>
                        </div>
                    </div>
                    <div class="mb-5">
                        <label for="purchasePlace" class="csk-input-label">Purchase Place</label>
                        <input th:field="*{purchasePlace}" type="text" id="purchasePlace" class="csk-input"
                               placeholder=""/>
                        <div th:replace="~{components/field-error('purchasePlace')}"></div>
                    </div>

                    <div class="col-span-2" th:insert="~{components/tag-input.html :: tag-input}"></div>

                    <th:block th:if="${ciusky.type == 2}">

                        <div class="mb-5 col-span-2">
                            <label for="author" class="csk-input-label">Author</label>
                            <input th:field="*{author}" type="text" id="author" class="csk-input" placeholder=""
                                   required/>
                            <div th:replace="~{components/field-error('author')}"></div>
                        </div>

                        <div class="mb-5 col-span-2">
                            <label for="format" class="csk-input-label">Format</label>
                            <input th:field="*{format}" type="text" id="format" class="csk-input" placeholder=""
                                   required/>
                            <div th:replace="~{components/field-error('format')}"></div>
                        </div>

                        <div class="mb-5 col-span-2">
                            <label for="publisher" class="csk-input-label">Publisher</label>
                            <input th:field="*{publisher}" type="text" id="publisher" class="csk-input" placeholder=""
                                   required/>
                            <div th:replace="~{components/field-error('publisher')}"></div>
                        </div>

                        <div class="mb-5 col-span-2">
                            <label for="publishDate" class="csk-input-label">Publish date</label>
                            <div class="flex">
                                <span class="inline-flex items-center p-3 text-sm text-gray-900 bg-gray-200 border border-e-0 border-gray-300 rounded-s-md dark:bg-gray-600 dark:text-gray-400 dark:border-gray-600">
                                    <svg th:replace="~{components/icon :: icon('calendar-week', 'w-4 h-4 text-gray-500 dark:text-gray-400')}"></svg>
                                </span>
                                <input th:field="*{publishDate}" id="publishDate"
                                       type="date" placeholder="Select date"
                                       autocomplete="off"
                                       class="csk-input-addon"/>
                            </div>
                            <div th:replace="~{components/field-error('publishDate')}"></div>
                        </div>

                        <div class="mb-5 col-span-2">
                            <label for="isbn13" class="csk-input-label">ISBN-13</label>
                            <div class="flex">
                                <span class="inline-flex items-center p-3 text-sm text-gray-900 bg-gray-200 border border-e-0 border-gray-300 rounded-s-md dark:bg-gray-600 dark:text-gray-400 dark:border-gray-600">
                                    <svg th:replace="~{components/icon :: icon('barcode', 'w-4 h-4 text-gray-500 dark:text-gray-400')}"></svg>
                                </span>
                                <input th:field="*{isbn13}" type="text" id="isbn13"
                                       th:classappend="${#fields.hasErrors('isbn13') ? 'csk-input-error' : ''}"
                                       class="csk-input-addon" placeholder="978-1-56619-909-4">
                            </div>
                            <div th:replace="~{components/field-error('isbn13')}"></div>
                        </div>

                        <div class="mb-5 col-span-2">
                            <label for="language" class="csk-input-label">Language</label>
                            <input th:field="*{language}" type="text" id="language" class="csk-input" placeholder="EN"
                                   required/>
                            <div th:replace="~{components/field-error('language')}"></div>
                        </div>

                    </th:block>

                    <div class="mb-5 col-span-2">
                        <label for="notes" class="csk-input-label">Notes</label>
                        <textarea th:field="*{notes}" id="notes" rows="4" class="csk-input"
                                  placeholder="Write your notes here..."></textarea>
                    </div>
                </div>
                <button type="submit" class="bg-blue-700 hover:bg-blue-800 text-white font-bold py-2 px-4 rounded inline-flex items-center">
                    <svg th:replace="~{components/icon :: icon('save', 'fill-current w-6 h-6 mr-2')}"></svg>
                    <span>Save</span>
                </button>
            </form>
        </div>
        <div class="w-full md:w-2/5 mb-5">
            <form th:object="${ciusky}" id="form-upload"
                  hx-encoding='multipart/form-data' th:hx-post="@{/ciusky/image/upload}"
                  hx-target="#image-gallery"
                  hx-swap="outerHTML"
                  hx-trigger="change from:#imageFiles">
                <input type="hidden" th:field="*{id}"/>
                <div class="mb-5">
                    <label for="imageFiles" class="csk-input-label">Image gallery</label>
                    <input th:disabled="*{id == null}" th:classappend="*{id == null} ? 'cursor-not-allowed' : ''"
                           class="block w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400"
                           id="imageFiles" th:name="'imageFiles'" type="file" accept="image/png, image/jpeg" multiple>
                </div>
                <div id="image-gallery" th:replace="~{components/gallery :: gallery}"></div>
            </form>
        </div>
    </div>
    <script th:inline="javascript">
        htmx.on('#form-upload', 'htmx:beforeRequest', function (evt) {
            const pr = htmx.find('#upload-progress');
            htmx.toggleClass(pr, 'hidden');
        });
        htmx.on('#form-upload', 'htmx:beforeSwap', function (evt) {
            const pr = htmx.find('#upload-progress');
            htmx.toggleClass(pr, 'hidden');
        });
    </script>
</div>
</body>
</html>
