<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="~{layout/head.html :: head}">
    <title>Ciusky</title>
</head>
<body class="dark:bg-gray-900 antialiased">
<header th:replace="~{layout/header.html :: header}"></header>
<main class="p-6">


    <form class="max-w-xl mx-auto">
        <div class="mb-5">
            <label for="title" class="csk-input-label">Title</label>
            <input type="text" id="title" class="csk-input" placeholder="" required/>
        </div>
        <div class="mb-5">
            <label for="description" class="csk-input-label">Description</label>
            <input type="text" id="description" class="csk-input"/>
        </div>
        <div class="mb-5">
            <label for="types" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Select a type</label>
            <select id="types" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                <option selected>Choose a type</option>
                <option th:each="option : ${types}" th:value="${option.id}" th:text="${option.descr}"></option>
            </select>
        </div>
        <div class="mb-5">
            <label for="paid" class="csk-input-label">Paid</label>
            <div class="flex">
                <span class="inline-flex items-center px-3 text-sm text-gray-900 bg-gray-200 border border-e-0 border-gray-300 rounded-s-md dark:bg-gray-600 dark:text-gray-400 dark:border-gray-600">
                    <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true"
                         xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 20 20">
                      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            fill="none"
                            d="M6 10h9.231M6 14h9.231M18 5.086A5.95 5.95 0 0 0 14.615 4c-3.738 0-6.769 3.582-6.769 8s3.031 8 6.769 8A5.94 5.94 0 0 0 18 18.916"/>
                    </svg>
                </span>
                <input type="text" id="paid" class="csk-input-addon"
                       placeholder="0.00">
            </div>
        </div>
        <div class="mb-5">
            <label for="value" class="csk-input-label">Value</label>
            <div class="flex">
                <span class="inline-flex items-center px-3 text-sm text-gray-900 bg-gray-200 border border-e-0 border-gray-300 rounded-s-md dark:bg-gray-600 dark:text-gray-400 dark:border-gray-600">
                    <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true"
                         xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 20 20">
                      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            fill="none"
                            d="M6 10h9.231M6 14h9.231M18 5.086A5.95 5.95 0 0 0 14.615 4c-3.738 0-6.769 3.582-6.769 8s3.031 8 6.769 8A5.94 5.94 0 0 0 18 18.916"/>
                    </svg>
                </span>
                <input type="text" id="value" class="csk-input-addon"
                       placeholder="0.00">
            </div>
        </div>
        <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
            Cisuky
        </button>
    </form>

</main>

</body>
</html>
