<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Ciusky</title>

    <link th:href="@{/main.css}" rel="stylesheet"/>
    <link th:href="@{/custom.css}" rel="stylesheet"/>

    <!--    <script th:src="@{/flowbite.min.js}"></script>-->
    <script th:src="@{/htmx.min.js}"></script>
    <script th:src="@{/main.js}"></script>

    <script>
        htmx.onLoad(function () {
            // initFlowbite();
        })
    </script>
</head>
<body class="dark:bg-gray-900 antialiased">
<header class="antialiased">
    <nav class="bg-white border-gray-200 px-4 lg:px-6 py-2.5 dark:bg-gray-800">
        <div class="flex flex-wrap justify-between items-center">
            <div class="flex justify-start items-center">
                <a href="#" class="flex mr-4">
                    <img src="https://flowbite.s3.amazonaws.com/logo.svg" class="mr-3 h-8" alt="Ciusky Logo"/>
                    <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">Ciusky</span>
                </a>
            </div>
            <div class="flex items-center lg:order-2">

            </div>
        </div>
    </nav>
</header>
<main class="p-6">

    <!--    <ul>-->
    <!--        <li th:each="item : ${listTag}" th:text="${item}"></li>-->
    <!--    </ul>-->

    <div class="relative overflow-x-auto">
        <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">ID</th>
                <th scope="col" class="px-6 py-3">Title</th>
                <th scope="col" class="px-6 py-3">Description</th>
                <th scope="col" class="px-6 py-3">Quality</th>
                <th scope="col" class="px-6 py-3">Paid</th>
                <th scope="col" class="px-6 py-3">Value</th>
                <th scope="col" class="px-6 py-3">Tags</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="item : ${listCiusky}"
                class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 border-gray-200">
                <td class="px-6 py-4" th:text="${item.id}"></td>
                <td class="px-6 py-4" th:text="${item.title}"></td>
                <td class="px-6 py-4" th:text="${item.description}"></td>
                <td class="px-6 py-4">
                    <div th:replace="components/rating.html :: rating(value=${item.quality})"></div>
                </td>
                <td class="px-6 py-4" th:text="${item.paidPrice}">
                </td>
                <td class="px-6 py-4" th:text="${item.marketPrice}"></td>
                <td class="px-6 py-4" th:text="${item.tags}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</main>

</body>
</html>
