<!DOCTYPE html>
<html th:fragment="default" th:replace="~{layout/site :: layout(_, ~{}, ~{::#content})}" xmlns:th="http://www.thymeleaf.org" lang="en">
<body>
    <div id="content">
        <div class="relative min-h-1/2 w-full md:w-3/5 mx-auto text-gray-300">

            <h1 class="text-2xl font-semibold">About Us</h1>

            <p class="mb-2 text-sm">Welcome to our collectibles cataloging platform! Our site is dedicated to providing a comprehensive and user-friendly database for collectors, enthusiasts, and anyone interested in showcasing their favorite collectible items.</p>

            <h2 class="mb-2 text-lg font-semibold text-gray-900 dark:text-white">Our Mission</h2>

            <p class="mb-2 text-sm ">Our mission is to create a vast and diverse catalog of collectibles, allowing users to discover, explore, and share their passion for unique and rare items. We strive to provide a platform where collectors can connect, learn, and showcase their treasures with like-minded individuals.</p>

            <h2 class="mb-2 text-lg font-semibold text-gray-900 dark:text-white">What We Collect</h2>

            <p class="mb-2 text-sm ">We collect and catalog a wide range of collectible items, including but not limited to:</p>

            <ul class="space-y-1 text-gray-500 list-disc list-inside dark:text-gray-400">
                <li>Coins and currency</li>
                <li>Stamps and philatelic items</li>
                <li>Sports memorabilia</li>
                <li>Trading cards</li>
                <li>Toys and figurines</li>
                <li>Artwork and prints</li>
                <li>Vintage items and antiques</li>
                <li>Rare books and documents</li>
                <li>And many more!</li>
            </ul>

            <h2 class="mb-2 text-lg font-semibold text-gray-900 dark:text-white">Goals and Objectives</h2>

            <p class="mb-2 text-sm ">Our primary objectives are:</p>

            <ul class="mb-2 space-y-1 text-gray-500 list-disc list-inside dark:text-gray-400">
                <li>To create a vast and accurate catalog of collectible items</li>
                <li>To provide a platform for collectors to showcase and share their collections</li>
                <li>To facilitate connections and knowledge sharing among collectors and enthusiasts</li>
                <li>To promote the preservation and appreciation of collectible items</li>
            </ul>

            <h2 class="mb-2 text-lg font-semibold text-gray-900 dark:text-white">Join Our Community</h2>

            <p class="mb-2 text-sm ">We invite you to join our community of collectors, enthusiasts, and anyone interested in the world of collectibles. Browse our catalog, add your own items, and start connecting with like-minded individuals today!</p>

        </div>
    </div>
</body>
</html>



