<!DOCTYPE html>
<html th:replace="~{layout/admin :: layout(~{::#panel})}" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Ciusky: Dashboard</title>
    <script th:src="@{/public/apexcharts.min.js}"></script>
    <script th:inline="javascript">
        htmx.onLoad(function () {
            const getChartOptions = () => {
              return {
                series: /*[[${series}]]*/ null,
                colors: ["#1C64F2", "#16BDCA", "#9061F9"],
                chart: {
                  height: 420,
                  width: "100%",
                  type: "pie",
                },
                stroke: {
                  colors: ["white"],
                  lineCap: "",
                },
                plotOptions: {
                  pie: {
                    labels: {
                      show: true,
                    },
                    size: "100%",
                    dataLabels: {
                      offset: -25
                    }
                  },
                },
                labels: /*[[${labels}]]*/ null,
                dataLabels: {
                  enabled: true,
                  style: {
                    fontFamily: "Inter, sans-serif",
                  },
                },
                legend: {
                  position: "bottom",
                  fontFamily: "Inter, sans-serif",
                },
                yaxis: {
                  labels: {
                    formatter: function (value) {
                      return value
                    },
                  },
                },
                xaxis: {
                  labels: {
                    formatter: function (value) {
                      return value
                    },
                  },
                  axisTicks: {
                    show: false,
                  },
                  axisBorder: {
                    show: false,
                  },
                },
              }
            }

            if (document.getElementById("area-chart") && typeof ApexCharts !== 'undefined') {
              const chart = new ApexCharts(document.getElementById("area-chart"), getChartOptions());
              chart.render();
            }
        })
    </script>
</head>

<body>
<div id="panel" class="max-w-4xl mx-auto flex flex-col md:flex-col">

    <div class="w-full bg-white rounded-lg shadow-sm dark:bg-gray-800 p-4 md:p-6">
        <div class="flex justify-between">
            <div>
                <h5 class="leading-none text-3xl font-bold text-gray-900 dark:text-white pb-2">Cache Size</h5>
            </div>
        </div>
        <div id="area-chart"></div>
    </div>

</div>
</body>
</html>
